body {
  margin: 0;
  height: 100vh;
  font-family: "Comic Neue", cursive;
  color: rgba(65, 105, 255, 1);
}

h1,
h2,
h3 {
  margin: 0;
}

#kaden {
  color: white;
  text-shadow: 0 0 5px rgba(65, 105, 255, 1), 0 0 7px rgba(65, 105, 255, 1),
    0 0 9px rgba(65, 105, 255, 1);
}

.count {
  color: white;
  text-shadow: 0 0 5px rgba(65, 105, 255, 1), 0 0 7px rgba(65, 105, 255, 1),
    0 0 9px rgba(65, 105, 255, 1);
}

.avg {
  color: white;
  text-shadow: 0 0 5px rgba(65, 105, 255, 1), 0 0 7px rgba(65, 105, 255, 1),
    0 0 9px rgba(65, 105, 255, 1);
}

.message {
  color: white;
  text-shadow: 0 0 1px rgba(217, 33, 33, 1), 0 0 2px rgba(217, 33, 33, 1),
    0 0 3px rgba(217, 33, 33, 1), 0 0 3px rgba(217, 33, 33, 1),
    0 0 3px rgba(217, 33, 33, 1);
}

#main_heading {
  font-size: 3em;
  margin-bottom: 10px;
}

.heading {
  width: 100%;
  display: block;
}

.desc {
  font-size: 1.5em;
}

.show_count {
  margin-top: 10px;
}

.show_avg {
  margin-bottom: 10px;
}

.show_avg,
.show_count {
  font-size: 2em;
}

.container {
  display: flex;
  height: 100vh;
}

.contents {
  display: flex;
  height: 50vh;
  border: 2px solid rgba(30, 144, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(30, 144, 255, 0.4);
  text-align: center;
  align-items: center; /* new */
  justify-content: center;
  height: 60vh;
  width: 80vh;
  margin: auto;
  padding: 50px;
  flex-wrap: wrap;
}

.labels {
  width: 100%;
}

.input_box {
  color: rgba(30, 144, 255, 1);
  font-size: 1.5em;
  text-align: center;
  display: block;
  height: 36px;
  width: 80%;
  margin: 10px auto;
  border: 1px solid rgba(30, 144, 255, 0.6);
  border-radius: 8px;
}

/* Removal of arrow from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.submit_button {
  color: rgba(30, 144, 255, 1);
  font-size: 1em;
  margin-top: 10px;
  background-color: white;
  height: 36px;
  border-radius: 8px;
  border: 1px solid rgba(30, 144, 255, 0.6);
  box-shadow: 0px 3px 6px rgba(30, 144, 255, 0.4);
}

/* Success Page */

.success_container {
  display: flex;
  height: 100vh;
}

.success_contents {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: auto;
}

.success_contents h1 {
  margin: 20px auto;
}
