/********************/
/* General */
/********************/

body {
  margin: 0;
  height: 100vh;
  font-family: "Comic Neue", cursive;
  color: rgba(65, 105, 255, 1);
}

h1,
h2,
h3 {
  margin: 0;
}

/* Removal of arrow from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

form {
  width: 100%;
}

/********************/
/* Index */
/********************/

.container {
  display: flex;
  height: 100vh;
}

.contents {
  display: flex;
  height: 50vh;
  border: 2px solid rgba(30, 144, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(30, 144, 255, 0.4);
  text-align: center;
  align-items: center; /* new */
  justify-content: center;
  height: 80vh;
  width: 80vh;
  margin: auto;
  padding: 50px;
  flex-wrap: wrap;
}

.heading {
  width: 100%;
  display: block;
}

#main_heading {
  font-size: 3em;
  margin-bottom: 10px;
}

.desc {
  font-size: 1.5em;
}

#kaden {
  color: white;
  text-shadow: 0 0 5px rgba(65, 105, 255, 1), 0 0 7px rgba(65, 105, 255, 1),
    0 0 9px rgba(65, 105, 255, 1);
}

.prize {
  color: white;
  text-shadow: 0 0 5px rgba(65, 105, 255, 1), 0 0 7px rgba(188, 105, 255, 1),
    0 0 9px rgba(200, 56, 78, 1);
}

.show_count {
  margin-top: 10px;
}

.count {
  color: white;
  text-shadow: 0 0 5px rgba(65, 105, 255, 1), 0 0 7px rgba(65, 105, 255, 1),
    0 0 9px rgba(65, 105, 255, 1);
}

.show_avg {
  margin-bottom: 10px;
}

.avg {
  color: white;
  text-shadow: 0 0 5px rgba(65, 105, 255, 1), 0 0 7px rgba(65, 105, 255, 1),
    0 0 9px rgba(65, 105, 255, 1);
}

.show_avg,
.show_count {
  font-size: 2em;
}

.message {
  color: white;
  text-shadow: 0 0 1px rgba(217, 33, 33, 1), 0 0 2px rgba(217, 33, 33, 1),
    0 0 3px rgba(217, 33, 33, 1), 0 0 3px rgba(217, 33, 33, 1),
    0 0 3px rgba(217, 33, 33, 1);
}

.labels {
  width: 100%;
}

.input_box {
  color: rgba(30, 144, 255, 1);
  font-size: 1.5em;
  text-align: center;
  display: block;
  height: 36px;
  width: 50%;
  margin: 10px auto;
  border: 1px solid rgba(30, 144, 255, 0.6);
  border-radius: 8px;
}

.submit_button {
  color: rgba(30, 144, 255, 1);
  font-size: 1em;
  margin-top: 10px;
  background-color: white;
  height: 36px;
  border-radius: 8px;
  border: 1px solid rgba(30, 144, 255, 0.6);
  box-shadow: 0px 3px 6px rgba(30, 144, 255, 0.4);
}

.guesses_button {
  color: rgba(30, 144, 255, 1);
  font-size: 1.125em;
  margin-top: 10px;
  padding: 0 20px;
  background-color: white;
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgba(30, 144, 255, 0.6);
  box-shadow: 0px 3px 6px rgba(30, 144, 255, 0.4);
}

/********************/
/* Success */
/********************/

.success_container {
  display: flex;
  height: 100vh;
}

.success_contents {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: auto;
}

.success_contents h1 {
  margin: 20px auto;
}

/********************/
/* Guesses */
/********************/

table {
  border-collapse: collapse;
  margin-top: 30px;
}

td {
  padding: 10px;
  text-align: center;
  margin: 0;
  font-size: 1.5em;
}

tr:not(:last-child) {
  border-bottom: 1px solid rgba(65, 105, 255, 1);
  border-top: 1px solid rgba(65, 105, 255, 1);
}

tr:first-child {
  border-top: 0;
}

.table_name {
  border-right: 1px solid rgba(65, 105, 255, 1);
}

.back_button {
  color: rgba(30, 144, 255, 1);
  font-size: 1em;
  margin-top: 10px;
  background-color: white;
  height: 36px;
  border-radius: 8px;
  border: 1px solid rgba(30, 144, 255, 0.6);
  box-shadow: 0px 3px 6px rgba(30, 144, 255, 0.4);
}
