<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Style Sheet -->
    <link rel="stylesheet" href="../static/styles.css" />
    <!-- Font Link -->
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Guess Kaden's Weight</title>
  </head>
  <body>
    <div class="guesses_container">
      <div class="guesses_contents">
        <form method="get" action="{{url_for('index')}}">
          <input type="submit" value="Back" class="back_button" />
        </form>
        <div class="guesses_table">
          <table cellspacing="0">
            <thead>
              {% for row in rows %}
              <tr class="table_row">
                <td class="table_name">{{ row.name_ }}</td>
                <td class="table_guess">{{ row.guess_ }}</td>
              </tr>
              {% endfor %}
            </thead>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
