<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../static/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Guess Kaden's Weight</title>
  </head>
  <body>
    <div class="success_container">
      <div class="success_contents">
        <h1>
          Thank you for your guess!
        </h1>
        <h1>
          You will now be redirected back to the main screen.
        </h1>
      </div>
    </div>

  </body>
</html>
